# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
trabalho1/build-MinGW-W64.bat
trabalho1/build-VisualStudio2022.bat
trabalho1/.vscode/launch.json
trabalho1/.vscode/settings.json
trabalho1/.vscode/tasks.json
trabalho1/build/premake5
trabalho1/build/premake5.lua
trabalho1/build/premake5.osx
trabalho1/include/resource_dir.h
trabalho1/resources/wabbit_alpha.png
trabalho1/src/application.rc
trabalho1/src/icon.ico
trabalho1/log.csv
trabalho1/execution_time.txt
